/* ---------------------------------------------
*   Universal selector
--------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}



/* ---------------------------------------------
*   toppage news
--------------------------------------------- */


.news-container {
    width: 740px !important;
    margin: 0px auto !important;
    border: 1px solid #e4e4e4;
    background: white;
    overflow: hidden !important;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0);
    height: 200px !important;
    /* 表示領域の高さ */
}

div.news-container div.news-box div.c-block-1__link div.c-cassette-3__txt {
    margin: 0;
    font-size: 12px;
    padding-left: 20px;
}

body div.news-container div.news-box div.c-block-1__link div.c-cassette-3__txt span.c-block-1__link-txt--news {
    margin: 0;
    padding-left: 20px;
}

.news-box {
    height: 100%;
    overflow-y: auto;
    /* ← 手動スクロールを可能に */
    padding: 10px;
}

.news-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-box li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    margin: 0;
}

.news-box li:last-child {
    border-bottom: none;
}


/* ---------------------------------------------
*   :root
--------------------------------------------- */
:root {
    --fixed-header-height: 93px;
    --background-doted: #F2F2F2 radial-gradient(#4F4B4B 0px, transparent 1px) center -4px / 9px 9px;
    --bluish-purple2-shadow: 0 10px 60px 0 rgba(76, 73, 166, .15);
    --bluish-purple2-shadow-s: 0 10px 30px 0 rgba(76, 73, 166, .15);
}

@media screen and (max-width: 750px) {
    :root {
        --fixed-header-height: 56px;
        --background-doted: #F2F2F2 radial-gradient(#4F4B4B 0px, transparent 1px) -4px -4px / 9px 9px;
        --bluish-purple2-shadow: 0 calc(6 / 375 * 100vw) calc(36 / 375 * 100vw) 0 rgba(76, 73, 166, .15);
        --bluish-purple2-shadow-s: 0 calc(6 / 375 * 100vw) calc(18 / 375 * 100vw) 0 rgba(76, 73, 166, .15);
    }
}

/* ---------------------------------------------
*   html, body
--------------------------------------------- */
html,
body {
    color: #000;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    -webkit-text-size-adjust: 100%;
}

.pricing_tb {
    border: 2px solid #ccc;

}

.pricing_tb tr {
    border: 1px solid #ccc;
}

.pricing_tb td {
    border: 1px solid #ccc;
}

.pricing_tb tbody {
    padding: px;
}


.table-second-center td:nth-child(n+2) {
    text-align: center;
    color: #635FD9;
    font-size: 11px;
    padding: 11px;
}

.pricing_tb_th th {
    background-color: #f3f3fd;
    text-align: center;
    color: #635FD9;
    font-size: 11px;
    padding: 11px;
    border: 1px solid #ccc;
    font-weight: bold;
    width: 100%;
}

.table-first-center td:first-child {
    text-align: left;
    font-size: 10px;
    padding: 5px;

}

span.emphasize-text {
    color: #67176f;
    font-weight: bold;
}

@media screen and (max-width: 750px) {

    html,
    body {
        font-size: 1rem;
    }
}

html.is-noscroll {
    min-height: 100%;
    min-height: 100dvh;
}

body {
    line-height: 1.5;
}

@media screen and (max-width: 750px) {
    body {
        line-height: 1.5;
        min-width: 320px;
    }
}

.is-noscroll body {
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100dvh;
    box-sizing: border-box;
}

/* ---------------------------------------------
*   <a> tag
--------------------------------------------- */
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

/* 特定のリンクにアンダーラインを表示 */
a.underline-link {
    text-decoration: underline;
}

a.underline-link:hover {
    text-decoration: underline;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

a.underline-link {
    text-decoration: underline !important;
}

a.underline-link:hover {
    text-decoration: underline !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* 利用規約とプライバシーポリシーのリンクに確実にアンダーラインを表示 */
li.underline-link a.underline-link {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
}

li.underline-link a.underline-link:hover {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* より具体的なセレクタでアンダーラインを確実に表示 */
.none-marker.underline-link a.underline-link {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}

.none-marker.underline-link a.underline-link:hover {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* 本番環境での確実なアンダーライン表示のための追加ルール */
li.none-marker.mgb-pc--20.underline-link a.underline-link {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}

li.none-marker.mgb-pc--20.underline-link a.underline-link:hover {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* 最も強力なセレクタ - 本番環境での確実な表示 */
body li.none-marker.mgb-pc--20.underline-link a.underline-link {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}

body li.none-marker.mgb-pc--20.underline-link a.underline-link:hover {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.btn-install-timeline,
.btn-install-partyonslack,
.btn-install-tasukaru,
.btn-install-oyasumibot,
.btn-install-tips,
.btn-install-yokoku,
.btn-install-salesforceconnector,
.btn-install-deepltranslator,
.btn-k-contact-us {
    display: block;
    /* ブロック要素化 */
    pointer-events: auto;
    /* ポインターイベントを有効化 */
}

.btn-install-timeline:hover,
.btn-install-partyonslack:hover,
.btn-install-tasukaru:hover,
.btn-install-oyasumibot:hover,
.btn-install-tips:hover,
.btn-install-yokoku:hover,
.btn-install-salesforceconnector:hover,
.btn-install-deepltranslator:hover,
.btn-k-contact-us:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.btn-contact-k>div,
.btn-contact-k>div>span,
.btn-install-timeline>div,
.btn-install-timeline>div>span,
.btn-install-partyonslack>div,
.btn-install-partyonslack>div>span,
.btn-install-tasukaru>div,
.btn-install-tasukaru>div>span,
.btn-install-oyasumibot>div,
.btn-install-oyasumibot>div>span,
.btn-install-tips>div,
.btn-install-tips>div>span,
.btn-install-yokoku>div,
.btn-install-yokoku>div>span,
.btn-install-salesforceconnector>div,
.btn-install-salesforceconnector>div>span,
.btn-install-deepltranslator>div,
.btn-install-deepltranslator>div>span {
    pointer-events: none;
}

/* ---------------------------------------------
*   <img> tag
--------------------------------------------- */
img {
    max-width: 100%;
    vertical-align: bottom;
}

picture img {
    width: 100%;
    height: auto;
}

p.tl-img,
.tl-img img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


/* ---------------------------------------------
*   <hr> tag as anchor target
--------------------------------------------- */
hr[id^=anchor-] {
    display: block;
    width: auto;
    height: 0;
    padding: 93px 0 0 0;
    border: 0;
    margin: -93px 0 0 0;
    background: 0;
    pointer-events: none;
}

@media screen and (max-width: 750px) {
    hr[id^=anchor-] {
        padding-top: 56px;
        margin-top: -56px;
    }
}



/* ---------------------------------------------
*   toppage news max-width: 750px
--------------------------------------------- */


@media screen and (max-width: 750px) {
    .news-container {
        width: 370px;
        margin: 0px auto;
        border: 1px solid #e4e4e4;
        background: white;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0);
        height: 200px;
        /* 表示領域の高さ */
    }

    body div.news-container div.news-box div.c-block-1__link div.c-cassette-3__txt span.c-block-1__link-txt {
        margin: 0;
        font-size: 10px;
        padding-left: 0px;
    }

    body div.news-container div.news-box div.c-block-1__link div.c-cassette-3__txt span.c-block-1__link-txt--news {
        margin: 0;
        font-size: 10px;
        padding-left: 0px;
    }

    div.news-container div.news-box div.c-block-1__link div.c-cassette-3__txt {
        padding-left: 0px;
    }

    .news-box {
        height: 100%;
        overflow-y: auto;
        /* ← 手動スクロールを可能に */
        padding: 0px;
    }

    .news-box ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .news-box li {
        padding: 8px;
        border-bottom: 1px solid #eee;
        white-space: nowrap;
        margin: 0;
    }

    .news-box li:last-child {
        border-bottom: none;
    }
}

/* 本番環境での確実なアンダーライン表示 - 最終的な強制ルール */
html body li.none-marker.mgb-pc--20.underline-link a.underline-link {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}

html body li.none-marker.mgb-pc--20.underline-link a.underline-link:hover {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

/* 最も強力なセレクタ - すべての環境で確実に動作 */
html body li.none-marker.mgb-pc--20.underline-link a.underline-link[href] {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}

html body li.none-marker.mgb-pc--20.underline-link a.underline-link[href]:hover {
    text-decoration: underline !important;
    text-decoration-color: currentColor !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

                            /* FAQ 全体 */
                            .faq-section {
                                background: #fff;
                                padding: 0px 20px;
                                border-top: 0px solid #e0e0e0;
                              }
                              
                              /* 見出し */
                              .faq-section .faq-header {
                                font-size: 1.6rem;
                                font-weight: 700;
                                margin-bottom: 40px;
                                color: #222;
                              }
                              
                              /* 質問 */
                              .faq-question {
                                font-size: 1.15rem;
                                font-weight: 600;
                                margin: 20px 0 8px;
                                color: #333;
                              }
                              
                              /* 回答 */
                              .faq-answer {
                                margin-bottom: 26px;
                                font-size: 1rem;
                                color: #555;
                                line-height: 1.7;
                              }
                              
                              /* スマホ対応 */
                              @media (max-width: 768px) {
                                .faq-section {
                                  padding: 0px 16px;
                                }
                                .faq-header {
                                  font-size: 1.4rem;
                                }
                                .faq-question {
                                  font-size: 1.05rem;
                                }
                                .faq-answer {
                                  font-size: 0.95rem;
                                }
                              }